
{% extends "chat_site_home.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block content %}
    <h1>{{ ('Messages') }}</h1>

    {% for message in msgs %}
         {% include 'received.html' %}
    {% endfor %}

    </div>
    <h1>Hi, {{ current_user.username }}!</h1>


    <div class="container">
      <div class="fixed_bottom">
        <div class="row">
            <div class="col-md-4">
              <form method="POST">
                {{ form.hidden_tag() }}
                {{ form.csrf_token }} <br>
                {{ wtf.quick_form(form) }}
              </form>
            </div>
        </div>
      </div>
    </div>

<!-- previous messages currently showing in form boxes -->


<!--
    <div class="container">
      <div class="fixed-bottom">
        <div class="row">
            <div class="col-md-4">
              <form method="POST">
                {{form.hidden_tag()}}
                {{form.recipient.label}}{{form.recipient()}} <br>
                {{form.body.label}}{{form.body()}}
                {{form.submit()}}
              </form>
            </div>
        </div>
      </div>
    </div> -->


    <!-- <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url  or '#'}}">
                    <span aria-hidden="true">&larr;</span> {{ 'Older messages' }}
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    {{ 'Newer messages' }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav> -->
{% endblock %}
