{% extends "layout.jinja2" %}

{% block content %}
<div class="card">
  <h1 class="site-title">{{ title }}</h1>
  <p class="site-description"> {{ description }}</p>
  <a href='/exampledashboard/' class='dash-link'>
  <span>Click here to see the example dashboard</span>
  </a>
 
</div>
{% endblock %}
